.container{
    
  border:0.4em ridge black;
    height: 100%;
    width: 100%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10% 0% 10% 0% / 10% 0% 10% 0%;
    background-color: #8d8686;
    background: linear-gradient(28deg,#040404 0%, #8d8686 60%, #f1f1f1 61%, #cdcdcd 62%, #818181 80%);
    box-shadow:  -10px -10px 9px #6c0707,
                 10px 10px 9px #b0b0b0;

                 cursor:pointer;
                 transition: background 2s

    
}

.img {
    
    height:16em;
    width:20em;
    filter:opacity(50%);
    object-fit: cover;
    transition:all 0.5s
    
}

.name {
    
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    color: #ad0000;
    background-color: #97979743;
    padding:1em, 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
    
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    filter:opacity(50%)
}

.genresContainer {
    
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(33%, 50%));
    

}

.rating{
    position:absolute;
    margin-left:12%;
    margin-bottom:12%;
    background-color: #8d86869c;
    padding:0.1em;
    border-radius: 0.3em;
    z-index: 5;
    filter: opacity(50%);
    transition:all 0.5s
}

.genres {
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    color: #ad0000;
    background-color: #dadada43;
    padding:1em, 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    filter:opacity(50%)
}

.container:hover .img{
    filter: opacity(100%);
}

.container:hover .name{
    filter: opacity(100%);
}

.container:hover .genres{
    filter: opacity(100%);
}

.container:hover .rating{
    filter: opacity(100%);
}

.container:hover {
    animation: gradientTransition 0.3s forwards;
    animation-direction: alternate;
}

@keyframes gradientTransition {
    0% {
      background: linear-gradient(28deg, #040404 0%, #8d8686 60%, #f1f1f1 61%, #cdcdcd 62%, #818181 80%);
    }

    25%{
        background: linear-gradient(28deg,#040404 0%, #8d8686 50%, #f1f1f1 60%, #cdcdcd 61%, #818181 100%);
    }
    50%{
        background: linear-gradient(28deg,#040404 0%, #8d8686 30%, #f1f1f1 70%, #cdcdcd 71%, #818181 100%);
    }

    75% {
        background: linear-gradient(28deg,#040404 0%, #8d8686 20%, #f1f1f1 80%, #cdcdcd 81%, #818181 100%);
    }
    100% {
      background: linear-gradient(28deg, #040404 0%, #8d8686 10%, #f1f1f1 90%, #cdcdcd 91%, #818181 100%);
    }
  }