.container{
    background-color: rgb(78, 194, 113);
    display:flex;
    flex-direction: column;
}
.buttons{
    display:flex;
    justify-content: space-around;
}
.description{
    background-color: rgb(205, 147, 126);
    height:20em;
    width:50em;
    font-size: 0.9em;
}
.button {
    font-size: 1em;
}