.container{
    
        position: relative;
        height: 19em;
        width:25em;
        border-radius: 2em;
        
        box-sizing: border-box;
        background: #e23a3ad8;
        box-shadow: 14px 14px 20px #8a3333, -14px -14px 20px rgb(197, 31, 31);
        padding-top:1em;
        padding-bottom:1em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputText{
     background: #ff9090f7;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #a85252, inset -6px -6px 6px rgb(232, 124, 124);
    font-size: 0.7em;
    margin:2% 25%;
    text-align: left;
    
  
}

.genres{
    display:grid;
    margin-top:0.5em;
    grid-template-columns: repeat(4, 1fr);
    
    grid-column-gap: 0px;
    
}

.buttons{
    display:flex;
    justify-content:space-between;
}

.genre{
    font-size: 0.6em;
    font-family:'Times New Roman', Times, serif;
    margin:0.2em 0em;
}
    .button{
        
  
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: white;
  margin:0% 25%;
  margin-top: 1em;
  margin-bottom: 1.5em;
  background: #f26f1d;
  width:10em;
  height: 3em;
  border-radius: 2em;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #e4b461c4, -6px -6px 6px rgba(236, 153, 44, 0.774);
  transition: 0.5s;
    }

    .button:hover {
        box-shadow: none;
      }

      .label {
        color: #ffae00f6;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
      }

      .description{
        background: #ff9090f7;
        padding: 10px;
        padding-left: 20px;
        
        
        border-radius: 50px;
        box-shadow: inset 6px 6px 6px #a85252, inset -6px -6px 6px rgb(232, 124, 124);
          font-size: 1.2em;
          margin:2% 25%;
          text-align: left;
        height:100%;
        width:70%;
      }