.container{
    background-color: green;
    height: 100%;
    width: 100%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    
}

.img {
    background-color: rgb(0, 217, 255);
    height:100%;
    width:100%;
    
    object-fit: cover;
    
}

.name {
    font-size: 150%;
    background-color: darkorange;
    border-radius: 10px, black, solid;
    margin-bottom: 0;
}

.genresContainer {
    background-color: darkorange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(33%, 50%));
    

}

.genre {
    font-size: 100%;
    background-color: tomato;
}