.div {
    width:70%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    background-color: hotpink;
}

.input{
    
    background-color: darkred;
    width:60%;
    height:40%;
   

}

.button{
    margin-right: 3em;
    margin-left: 1em;
    width:20%;
    height:40%;

}